body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid rgb(0, 0, 0);
    padding: 50px;
    border-radius: 10px;
}

.asset{
    display: flex;
    justify-content: center;

}

.audio{
    margin: 100px;
}
.video{
    margin: 100px;
}